.recipeDetails-container {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  width: 70vw;
}

.recipeDetails-mediaContainer {
  align-items: center;
  background-color: #490733;
  display: flex;
}

.recipeDetails-image {
  height: 40%;
  width: 40%;
}

.start-btn {
  bottom: 0;
  position: fixed;
}

.heart-input {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #490733;
  display: inline-block;
  height: 3px;
  width: 6px;
}
